*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/

app/\.idea/

app/gradle/wrapper/

app/gradlew

app/gradlew\.bat

app/local\.properties
